.sideBar {
    @apply w-full;
    background-color: lightgrey;
    height: 100vh;
    position: relative;
}

.selectedButton {
    background-color: grey ;
    color: white;
}

.logoutButton {
    @apply w-full flex;
    position: absolute;
    bottom: 2rem;
    border: none;
}