@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Prompt !important;
}

input {
    font-family: Prompt !important;
}

button {
    font-family: Prompt !important;
}

td, th, li, div, p, h2 {
    font-family: Prompt !important;
}
